.button {
    background-color: #d4f0ec;
    padding: .25em .5em;
    margin: 0 1em;
}

.search, div.title {
    padding: .5em 2.75em;
}


.button:hover {
    background-color: #0b5351;
    color: #fff;
    transition: background 0.2s ease-in-out;
}

.detail-info {
    padding: .25em 2.75em;
}

div.table-cont {
    margin: 0 2em;
}

div.table-cont th {
    text-align: center;
}

@media only screen and (max-width: 765px){
    .detail-info {
        margin-left:2em;
    }
}